## Instítuto de Física - UFRJ
### Professora: 
- Barbara da Fonseca Magnani

### Aluno
- Rubens Guedes Kaiserman
- DRE: 122119151

# Relatório 0 - Tratamento e representação de dados

In [33]:
import pandas as pd
import numpy as np

data_dict = {
    'Valor': [
        '0, 3456 × 10^2',
        '0, 9745233',
        '0, 9222',
        '25, 3452',
        '1050, 345 × 10−2',
        '0, 345 × 10',
        '2345, 31 ',
        '0, 4756 × 10',
        '645, 453',
        '0, 444'
    ],
    'incerteza': [
        '0, 001267 × 10',
        '0,5234',
        '0, 0156 ',
        '1, 43 ',
        '70, 785 × 10^−1 ',
        '0, 622',
        '172,4',
        '0, 0001145 × 10^2',
        '23, 267 × 10^−1',
        '0, 023 × 10'
    ],
    'correto': [
        '34,56 \u00B1 0,01',
        '1 \u00B1 0,5',
        '0,92 \u00B1 0,02',
        '25 \u00B1 1',
        '11 \u00B1 7',
        '3,4 \u00B1 0,6', # Tem literalmente esse exemplo na ABNT. Não pode arredondar para cima...
        '(23 \u00B1 2) * 10^2',
        '4,76 \u00B1 0,01',
        '645 \u00B1 2',
        '0,4 \u00B1 0,2'  
    ],
}

df = pd.DataFrame(data_dict)

display(df)

              Valor          incerteza          correto
0    0, 3456 × 10^2     0, 001267 × 10     34,56 ± 0,01
1        0, 9745233             0,5234          1 ± 0,5
2           0, 9222           0, 0156       0,92 ± 0,02
3          25, 3452             1, 43            25 ± 1
4  1050, 345 × 10−2   70, 785 × 10^−1            11 ± 7
5       0, 345 × 10             0, 622        3,4 ± 0,6
6         2345, 31               172,4  (23 ± 2) * 10^2
7      0, 4756 × 10  0, 0001145 × 10^2      4,76 ± 0,01
8          645, 453    23, 267 × 10^−1          645 ± 2
9            0, 444        0, 023 × 10        0,4 ± 0,2